*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.hed{
    border: 1px solid black;
    height: 200px;
    background-image: url("./img/travel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.logo{
    color: blanchedalmond;
    margin-left: 30px;
    margin-top: 35px;
    
}

.logo h1{
    font-size: 40px;
}

.logo sup{
    font-size: 15px;
}

.wel{
    color: burlywood;
    margin-top: 10px;
    margin-left: 80px;
    font-size: 10px;
}

.wel-2{
    color: burlywood;
    margin-top: 10px;
    margin-left: 30px;
}

.wel-2 span{
    color: rgb(146, 91, 19);

}

.log{
 
    text-align: right;
    margin-top: -20px;
    margin-right: 60px;
}


.log a{
    padding: 12px 15px;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 1s ease;
}

.btn-1{
    background: green;
    color: white;
    opacity: 0.7;
    
}

.btn-1:hover{
    background-color: white;
    color: green;

}

.btn-2{
    background: white;
    color: green;
    opacity: 0.7;
}

.btn-2:hover{
    background-color: green;
    color: white;
}

.menubar{
    background-color: grey;
    height: 40px;
}


    

.menubar ul li{
    float: left;
    width: 142px;
    height: 40px;
    list-style: none;
    line-height: 40px;
    text-align: center;
    background-color: grey;
    opacity: 0.9;
    
}


.menubar ul li:hover{
    background-color: rgb(97, 94, 94);
    opacity: 0.9;
    border-radius: 3px;
}

.menubar ul li a:active{
    color: blue;
}


.menubar ul li a{
    
    color: white;
    text-decoration: none;
    
   
}

.menubar ul li ul{
    display: none;
}


.menubar ul li:hover > ul{
    display: block;
}

.search{
 
    line-height: 35px;
    color: rgb(207, 202, 202);
    
}

.search a{
    color: black;
}

.body-1{
    width: 100%;
    height: 450px;
    margin-top: 50px;
    display: flex;
    
    
}

.block-1{
    width: 130%;
    height: 450px;
    margin-left: 20px;
    float: left;
}

.block-1 img{
    
    width: 99%;
    height: 240px;
    border-radius: 5px;
    box-shadow: 2px 1px 5px black;
}

.block-1 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
    
    
}

.block-1 h2{
    margin-top: 10px;
}

.block-1 h2 a{
    color: black;
    text-decoration: none;
}

.block-1 p{
    margin-top: 20px;
}

.block-1 img:hover{
    width: 100%;
}


.block-2{
    width: 130%;
    height: 450px;
    margin-left: 20px;
    float: left;
}
.block-2 img{
    height: 240px;
    width: 99%;
    border-radius: 5px;
    box-shadow: 2px 1px 5px black;
}


.block-2 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
    
}

.block-2 h2{
    margin-top: 10px;
}

.block-2 h2 a{
    color: black;
    text-decoration: none;
}


.block-2 p{
    margin-top: 20px;
}

.block-2 img:hover{
    width: 100%;
}

.block-3{
    width: 130%;
    height: 450px;
    margin-left: 20px;
    float: left;
}

.block-3 img{
    width: 99%;
    height: 240px;
    border-radius: 5px;
    box-shadow: 2px 1px 5px black;
}

.block-3 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
    
}

.block-3 h2{
    margin-top: 10px;
}

.block-3 h2 a{
    color: black;
    text-decoration: none;
}


.block-3 p{
    margin-top: 20px;
}

.block-3 img:hover{
    width: 100%;
}

.body-2{
  
    height: 450px;
    margin-top: -20px;
    width: 100%; 
    display: flex;
    
}

.block-4{
  
    height: 450px;
    width: 32%;
    margin-left: 20px;
   
}

.block-4 img{
      width: 99%;
      height: 240px;
      border-radius: 5px;
      box-shadow: 2px 1px 5px black;
}

.block-4 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
 
}

.block-4 h2{
    margin-top: 10px;
}

.block-4 h2 a{
    color: black;
    text-decoration: none;
}


.block-4 p{
    margin-top: 20px;
}


.block-4 img:hover{
    width: 100%;
}

.block-5{
   
    height: 450px;
    width: 32%;
    margin-left: 20px;
   
}

.block-5 img{
      width: 99%;
      height: 240px;
      border-radius: 5px;
      box-shadow: 2px 1px 5px black;
}

.block-5 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
   
}

.block-5 h2{
    margin-top: 10px;
}

.block-5 h2 a{
    color: black;
    text-decoration: none;
}


.block-5 p{
    margin-top: 20px;
}

.block-5 img:hover{
    width: 100%;
}


.block-6{
  
    height: 450px;
    width: 32%;
    margin-left: 20px;
   
}

.block-6 img{
      width: 99%;
      height: 240px;
      border-radius: 5px;
      box-shadow: 2px 1px 5px black;
}

.block-6 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
    
}

.block-6 h2{
    margin-top: 10px;
}

.block-6 h2 a{
    color: black;
    text-decoration: none;
}


.block-6 p{
    margin-top: 20px;
}

.block-6 img:hover{
    width: 100%;
}

.body-3{
  
    height: 450px;
    margin-top: -20px;
    width: 100%; 
    display: flex;
    
}


.block-7{
  
    height: 450px;
    width: 32%;
    margin-left: 20px;
   
}

.block-7 img{
      width: 99%;
      height: 240px;
      border-radius: 5px;
      box-shadow: 2px 1px 5px black;
}

.block-7 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
    
}

.block-7 h2{
    margin-top: 10px;
}

.block-7 h2 a{
    color: black;
    text-decoration: none;
}


.block-7 p{
    margin-top: 20px;
}


.block-7 img:hover{
    width: 100%;
}


.block-8{
  
    height: 450px;
    width: 32%;
    margin-left: 20px;
   
}

.block-8 img{
      width: 99%;
      height: 240px;
      border-radius: 5px;
      box-shadow: 2px 1px 5px black;
}

.block-8 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
    
}

.block-8 h2{
    margin-top: 10px;
}

.block-8 h2 a{
    color: black;
    text-decoration: none;
}


.block-8 p{
    margin-top: 20px;
}

.block-8 img:hover{
    width: 100%;
}


.block-9{
  
    height: 450px;
    width: 32%;
    margin-left: 20px;
   
}

.block-9 img{
      width: 99%;
      height: 240px;
      border-radius: 5px;
      box-shadow: 2px 1px 5px black;
}

.block-9 span{
    color: white;
    margin-left: -100%;
    background: rgb(88, 87, 87);
    padding: 3px;
    opacity: 0.6;
   
}

.block-9 h2{
    margin-top: 10px;
}

.block-9 h2 a{
    color: black;
    text-decoration: none;
}


.block-9 p{
    margin-top: 20px;
}

.block-9 img:hover{
    width: 100%;
}

.pagenation{
    
    text-align: center;
    height: 100px;
  
}

.pagenation a{
    
    padding: 8px 15px;
    text-decoration: none;
    border: 1px solid grey;
}

.pagenation a.active{
    background-color: grey;
    border: 1px solid grey;
    color: white;
}

.pagenation a:hover:not(.active) {
    background-color: grey;
}

.pagenation a:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagenation a:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.footar{
    height: 250px;
    display: flex;
    border: 1px solid black;
    background-color: black;
}

.left{
    border-right: 2px solid burlywood;;
    margin-top: 20px;
    height: 200px;
    width: 50%;
   
}


.logo-2{
    margin-left: 250px;
    padding-top: 20px;
}

.logo-2 h2{
    color: burlywood;
}

.logo-2 h2 sup{
    font-size: 10px;
}

.logo-2 p{
    margin-left: 50px;
    color: burlywood;
}

.logo-2 h1{

    font-size: 40px;
    color:  blanchedalmond;
}

.logo-2 h1 sup{
    font-size: 20px;
}



.right{
    margin-top: 20px;
    height: 200px;
    width: 50%;
   
}

.about{
    margin-left: 250px;
    padding-top: 20px;
}

.about a{
  
    font-size: 20px;
    text-decoration: none;
    color: white;
   
}


.link{
    margin-left: 250px;
    padding-top: 20px;
}

.link li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}